html{
    background-color: #f3f5f0;
}
body{
    margin:auto;
    font-family: 'Cutive', serif;
}

header{
    text-align: center;
    padding-bottom:60px;
}
.fa-regular:hover{
    padding:0;
    color:rgb(194, 138, 138);
    size:2px;
    transition:0.2s;
}

ul{
    padding:0;
    list-style-type: none;
}

section{
    margin:0 auto;
    width:800px;
}

li{
    padding:4px;
}

.fa-trash{
    float:right;
}

.fa-solid:hover{
    color:rgb(194, 138, 138);
    transition:0.1s;
}

.completed{
    text-decoration:line-through;
    color:rgb(105, 105, 105);
    width:88%;
}

form{
    display:inline;
}
.text-input{
    border:none;
    border-bottom:dotted gray 2px;
    background-color: #f3f5f0;
}

.uncompleted{
    width:88%;
}
.text-input:focus{
    outline-width:0;
    outline-style: none;
}
.submit-button{
    background-color: #f3f5f0;
    width:30px;
    height:30px;
    border-radius:15px;
    border:none;
    color:black;
    font-size:30px;
    padding-bottom:10px;

}

.submit-button:hover{
    color:rgb(194, 138, 138);
    transition:0.3s;
}

section > section{
    padding-left: 6px;
}
/* 
textarea {
    resize: none;
    overflow: hidden;
    min-height: 23px;
    max-height: 100px;
    border:solid red 1px;
    line-height: 20px;
    padding-top:1px;
}

textarea:focus{
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color:gray;
    text-decoration-thickness: 2px ;
}

i{
    vertical-align:top;
} */